.env

################################## TERRAFORM #############################

# Local .terraform directories
.terraform
.tfstate
.external_modules
.terraform.lock.hcl

##########################################################################